Internationalization and localization of Beaker Browser

I would like to be helpful with preparation of Beaker Browser to be able to work with multiple languages. I mean these these steps:

- preferred language(s) settings
- preparation of the app for browser UI translations
- finding the best way how to create multi-lingual content and adding it to the documentation

> finding the best way how to create multi-lingual content and adding it to the documentation

Two options:
* Beaker could implement support for something similar to HTTP content negotiation based on file extensions; like how [mod_negotiation](https://httpd.apache.org/docs/current/mod/mod_negotiation.html) implements [RFC 7231 §5.3](https://tools.ietf.org/html/rfc7231#section-5.3). So, `index.de.html` for German, and `index.en.html` for English. Automatic selection based on user language settings when linking to basename (`index`).
* Everyone implement localization on their own from the sorted list of preferred languages returned by `navigator.languages`  (same list as the HTTP Accept-Language). Beaker is missing options in settings for configuring this list, though.

The missing options in settings seems to be easy. I will try to implement it next week.